@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  min-height: 100vh;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  background: linear-gradient(135deg, #ddd, #faf);
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}